[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = solutions for codility examples
[access "refs/*"]
	owner = group user/Emrah Soytekin (esoytekin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Emrah Soytekin (esoytekin)
	label-Verified = -1..+1 group user/Emrah Soytekin (esoytekin)
	push = group user/Emrah Soytekin (esoytekin)
	read = group user/Emrah Soytekin (esoytekin)
	rebase = group user/Emrah Soytekin (esoytekin)
	removeReviewer = group user/Emrah Soytekin (esoytekin)
	submit = group user/Emrah Soytekin (esoytekin)
[access "refs/heads/*"]
	create = group user/Emrah Soytekin (esoytekin)
	push = +force group user/Emrah Soytekin (esoytekin)
	pushMerge = group user/Emrah Soytekin (esoytekin)
	read = group user/Emrah Soytekin (esoytekin)
[access "refs/tags/*"]
	push = group user/Emrah Soytekin (esoytekin)
	push = +force group user/Emrah Soytekin (esoytekin)
